#Contact header {
  background-color: rgba(0, 0, 0, 0.459);
  border-radius: 0 0 15px 15px;
  padding: 1rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Contact aside.headerAside {
  background-image: url("./breadB.jpg");
  background-size: cover;
  border-radius: 0 0 15px 15px;
  padding: 0;
  height: 100%;
}

#Contact aside {
  padding: 0 2rem;
  height: 12vh;
}

#Contact aside ul {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

#Contact aside ul li {
  gap: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  font-style: oblique;
  text-align: center;
}

#Contact aside ul li a {
  font-size: 120%;
  color: red;
}

@media (min-width: 750px) {
  #Contact aside ul {
    height: 100%;
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 0;
  }

  #Contact aside {
    padding: 1rem 0;
    height: 100%;
  }

  #Contact aside ul li a {
    font-size: 120%;
    color: red;
  }
}
