#Contact header {
  background-image: url("./breadB.jpg");
  background-size: cover;
  border-radius: 0 0 15px 15px;
}

#Contact header h3,
#Contact header h4 {
  background-color: rgba(0, 0, 0, 0.459);
  margin: 0;
  padding: 0.7rem;
  color: white;
}

#Contact header h4 {
  padding-bottom: 1.2rem;
  border-radius: 0 0 15px 15px;
}

#Contact aside {
  padding: 0 2rem;
  height: 12vh;
}

#Contact aside ul {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

#Contact aside ul li {
  gap: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 750px) {
  #Contact aside ul {
    height: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 0;
  }

  #Contact aside ul li a {
    font-size: 100%;
    color: red;
  }
}
