.btn-floating.halfway-fab {
  position: absolute;
  left: 46%;
  bottom: -30px;
}

.btn-floating {
  z-index: 1;
  width: 60px;
  height: 60px;
  line-height: 40px;
}

.btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 65px;
}

.btn-floating i:hover {
  color: red;
  animation-duration: 1.2s;
  animation-name: latidos;
}

@keyframes latidos {
  0% {
    transform: none;
  }
  25% {
    transform: scale(1.4);
  }
  50% {
    transform: none;
  }
  75% {
    transform: scale(1.4);
  }
  100% {
    transform: none;
  }
}

.css-i4bv87-MuiSvgIcon-root {
  width: 2em;
  height: 3em;
}

.card-content {
  margin-top: 1.3rem;
}

.card .card-image img {
  object-fit: cover;
  height: 280px;
  width: 100%;
}

@media (min-width: 600px) {
  .card {
    width: 340px;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 520px;
  }
}
