.marging {
  position: absolute;
  top: 0;
  margin: 0 0.5rem;
  min-height: 100vh;
}

.productH2 {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 2.6rem;
}

.marging li p {
  text-align: center;
  padding: 0 0.8rem;
}

ul.list {
  padding: 0 50px;
  /* margin-bottom: 1rem; */
}

ul.list li:before {
  content: "✅";
  margin-right: 0.5em;
}

li img.imgMain {
  max-height: 300px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 1px 3px grey;
}

button.btn {
  background-color: rgb(160, 143, 143);
  display: flex;
  justify-content: center;
  align-items: center;
}

div.btnDiv {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-bottom: 5px;
}

@media (min-width: 600px) and (max-width: 800px) {
  .marging {
    width: 98.5%;
    display: flex;
    justify-content: center;
  }

  div.btnDiv {
    position: absolute;
    bottom: 20px;
  }

  li img.imgMain {
    width: 100%;
    max-height: 400px;
  }

  button.btn:hover {
    background-color: rgb(104, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 801px) {
  .marging {
    position: static;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
  }
  .card {
    width: 450px;
  }

  li img.imgMain {
    width: 100%;
    min-height: 400px;
  }
  .product {
    width: 100vw;
    height: 100vh;
    background-image: url("/cake2.png");
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
  }

  button.btn {
    height: 70px;
    width: 80px;
  }
}
